/* ===== Custom Fonts ===== */
/* Normal */
@font-face {
    font-family: Roboto;
    src: url("/Aa-Website/fonts/roboto-regular-webfont.woff2");
}

/* Italic */
@font-face {
    font-family: Roboto;
    src: url("/Aa-Website/fonts/roboto-italic-webfont.woff2");
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: Roboto;
    src: url("/Aa-Website/fonts/roboto-bold-webfont.woff2");
    font-weight: bold;
}

/* Bold & italic */
@font-face {
    font-family: Roboto;
    src: url("/Aa-Website/fonts/roboto-bolditalic-webfont.woff2");
    font-weight: bold;
    font-style: italic;
}



/* ==== Variables ===== */
:root {
    --cta-normal: hsl(215, 100%, 50%);
    --cta-hover: hsl(215, 100%, 65%);
    --cta-active: hsl(215, 100%, 35%);
}



/* ===== "Functions" ===== */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ===== Entire page ===== */
* {
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    color: black;
}

body {
    background-color: hsl(0, 0%, 95%);
}

a {
    text-decoration: none;
}



/* ===== .top-nav ===== */
.top-nav {
    display: flex;
    align-items: center;
}

.top-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    padding: 0 30px;
    margin: 0;
}

.top-nav div {
    border-bottom: 5px solid var(--cta-normal);
    height: 110px;
    font-size: 30px;
}
.top-nav div:hover {
    border-bottom: 5px solid var(--cta-hover);
}
.top-nav div:active {
    border-bottom: 5px solid var(--cta-active);
}


/* .to-home */
.top-nav .to-home div {
    width: 100px;
}

.top-nav .to-home img {
    height: 100px;
}


/* .to-stuff */
.top-nav .to-stuff div {
    width: 120px;
}



/* ===== main ===== */
main {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}



/* ===== .page-footer ===== */
.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}


/* .message */
.page-footer .message {
    font-size: 20px;
}

.page-footer .message a {
    color: var(--cta-normal);
}
.page-footer .message a:hover {
    color: var(--cta-hover);
}
.page-footer .message a:active {
    color: var(--cta-active);
}


/* .scroll-to-top */
.page-footer .scroll-to-top {
    cursor: pointer;
}
    
.page-footer .scroll-to-top img {
    border-top: 5px solid var(--cta-normal);
    width: 80px;
}
.page-footer .scroll-to-top img:hover {
    border-top: 5px solid var(--cta-hover);
}
.page-footer .scroll-to-top img:active {
    border-top: 5px solid var(--cta-active);
}
